{{!-- <div class="new-game-form">
    {{input type="text" placeholder="Name" value=name class="name-input"}}
    <button {{action 'startGame'}} class="submit">Submit</button>
</div> --}}
<button {{action 'startGame'}} class="btn btn-default">Start a New Game!</button>