body {
  padding: 20px;
}

.main-container {
  padding:20px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.new-player-button.active {
  display: none;
}



table.board-game {
  border-collapse: collapse;
}

table.board-game td {
  border: 1px solid #ccc;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: center;
}