body {
  padding: 20px;
}

.main-container {
  padding:20px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.new-player-button.active {
  display: none;
}


.boardContainer {
  float: left;
  width: 50%;

}
table.board-game {
  border-collapse: collapse;
}

table.board-game th,
table.board-game td,
table.board-game td div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

table.board-game th,
table.board-game td {
    border: 1px solid #ccc;
}
table.board-game tr td:first-child {
  font-weight: bold;
  padding: 0 5px;
}

table.board-game td div {
  height:50px;
  width:50px;
}

table.board-game tr:hover {
  background: #eee;
}
table.board-game td.gameCell:hover {
  cursor: pointer;
  background: yellow;
}
table.board-game td.gameCell.selectedCell {
  background: lightgreen;
}

table.board-game td.gameCell.selectedCell.missedCell {
  background: lightblue;
}
table.board-game td.gameCell.selectedCell.missedCell .glyphicon {
  color: white;
}

table.board-game td.gameCell.hitCell {
  background: red;
}
table.board-game td.gameCell.hitCell .glyphicon {
  color: white;
}

table.board-game td.gameCell.selectedCell .glyphicon-plus {
  display: none;
}
table.board-game td.gameCell.unselectedCell .glyphicon-ok {
  display: none;
}
#startGameModal {
  display: block;
}

.playBoard {
  float: left;
  margin-right: 50px;
}

.playBoard .playTableContainer {
    position: relative;
}

.playBoard .playTableContainer .loading-overlay {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
}

.playBoard .playTableContainer .loading-overlay .glyphicon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -14px;
  margin-top: -14px;
}

/*.main-container table.board-game .gameCell.playCell div {
  height: 20px;
  width: 20px;
}*/

/*table.board-game colgroup:hover,
table.board-game col:hover {background-color: #ffa; }*/

.glyphicon-refresh-animate {
  color: white;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}










