body {
  padding: 20px;
}

.main-container {
  padding:20px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}

.new-player-button.active {
  display: none;
}


.boardContainer {
  float: left;
  width: 50%;

}
table.board-game {
  border-collapse: collapse;
}

table.board-game th,
table.board-game td,
table.board-game td div {
  display: table-cell;
  /*height: 30px;*/
  /*width: 30px;*/
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

table.board-game th,
table.board-game td {
    border: 1px solid #ccc;
}

table.board-game tr:hover {
  background: #eee;
}
table.board-game td.gameCell:hover {
  cursor: pointer;
  background: yellow;
}
table.board-game td.gameCell.selectedCell {
  background: lightgreen;
}

table.board-game td.gameCell.selectedCell .glyphicon-plus {
  display: none;
}
table.board-game td.gameCell.unselectedCell .glyphicon-ok {
  display: none;
}
#startGameModal {
  display: block;
}

.playBoard {
  float: left;
  padding-right: 50px;
}

/*.main-container table.board-game .gameCell.playCell div {
  height: 20px;
  width: 20px;
}*/

/*table.board-game colgroup:hover,
table.board-game col:hover {background-color: #ffa; }*/
