<h4>Choose your Positions</h4>
<table class="board-game"> 
  <tr>
    <td data-position-x="0" data-position-y="0">data</td>
    <td data-position-x="1" data-position-y="0">data</td>
    <td data-position-x="2" data-position-y="0">data</td>
    <td data-position-x="3" data-position-y="0">data</td>
    <td data-position-x="4" data-position-y="0">data</td>
  </tr>
  <tr>
    <td data-position-x="0" data-position-y="1">data</td>
    <td data-position-x="1" data-position-y="1">data</td>
    <td data-position-x="2" data-position-y="1">data</td>
    <td data-position-x="3" data-position-y="1">data</td>
    <td data-position-x="4" data-position-y="1">data</td>
  </tr>
  <tr>
    <td data-position-x="0" data-position-y="2">data</td>
    <td data-position-x="1" data-position-y="2">data</td>
    <td data-position-x="2" data-position-y="2">data</td>
    <td data-position-x="3" data-position-y="2">data</td>
    <td data-position-x="4" data-position-y="2">data</td>
  </tr>
  <tr>
    <td data-position-x="0" data-position-y="3">data</td>
    <td data-position-x="1" data-position-y="3">data</td>
    <td data-position-x="2" data-position-y="3">data</td>
    <td data-position-x="3" data-position-y="3">data</td>
    <td data-position-x="4" data-position-y="3">data</td>
  </tr>
  <tr>
    <td data-position-x="0" data-position-y="4">data</td>
    <td data-position-x="1" data-position-y="4">data</td>
    <td data-position-x="2" data-position-y="4">data</td>
    <td data-position-x="3" data-position-y="4">data</td>
    <td data-position-x="4" data-position-y="4">data</td>
  </tr>
</table>
{{yield}}
