<h5>Listing all players</h5>

<table class="table table-condensed table-bordered">
  <caption>Here is a list of the most recent players</caption>
  <thead>
    <tr>
      <th>id</th>
      <th>completed on</th>
      <th>duration</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |player|}}
      <tr>
        <td>{{player.name}}</td>
        <td>{{player.game.completedOn}}</td>
        <td>{{player.duration}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<hr>
<div class="new-player-link">{{#link-to 'players.new' class='btn btn-default'}}Add a new player{{/link-to}}</div>